version: 1.0.{build}

image:
  build: Ubuntu2204

init:
  - sh: echo "Starting Linux AppVeyor worker image build..."

install:
  - sh: chmod +x ./scripts/install.sh
  - sh: ./scripts/install.sh

build: off
test: off

image_build:
  provider: appveyor
  name: "dotnet10-linux"
  description: "Custom AppVeyor Linux image with latest .NET 10 SDK"
